@media(min-width:768px){
    .news-letter{
        width: 50%;
    }
    .container{
        width: 50%;
        height: 50vh;
}
body::before{
    display: block;
    content: '';
    height: 60px;
}
    
